@import "./varible";
@import "./media";
@import "./media/xxl";
@import "./media/xl";
@import "./media/lg";
@import "./media/md";
@import "./media/sm";
@import "./media/xs";

@font-face {
    font-family: irans;
    src: url(../font/IranianSans.ttf);
}

@font-face {
    font-family: byekan;
    src: url(../font/BYekan.ttf);
}

p {
    font-family: irans;
}

div {
    font-family: irans;
}

button {
    font-family: byekan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    overflow-x: hidden;
}

p {
    font-family: irans;
}



header {
    display: flex;
    width: 100%;
    background-color: white;
    // border-bottom: 2px solid lightgrey;
    height: 100px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

    >nav.menu {
        justify-content: right;
        background-color: white;
        width: 80%;
        font-size: 16px;
        font-weight: bold;

        >ul {
            >li {
                margin-left: 20px;

                a {
                    &:hover {
                        color: rgb(0, 0, 224);
                    }
                }

            }
        }
    }

    div.login-singin-1,
    div.login-singin-2 {
        background-color: cornflowerblue;
        padding: 5px;
        text-align: center;
        margin: 30px;
        border-radius: 10px;
        justify-content: left;

    }

}



div.title {
    background-color: #ffff;
    direction: ltr;

    >div.title-matn {
        direction: rtl;
        padding: 60px;

        >p.title-matn-bold {
            font-weight: bolder;
            color: #3434ff;
            text-align: center;
        }

        >p.title-matn-info {
            color: gray;
            text-align: center;

        }

        >div.title-button {
            margin: 10px auto;

            >button.title-button-1 {
                background-color: #3434ff;
                border: none;
                padding: 10px;
                border-radius: 15px;
                width: 30%;
                color: white;
                margin-top: 20px;
                margin-left: 10px;

                &:hover {
                    background-color: rgb(163, 163, 163);
                    border: 1px solid #3434ff;

                }
            }

            >button.title-button-2 {
                border: 1px solid #3434ff;
                padding: 10px;
                background-color: rgb(163, 163, 163);
                border-radius: 15px;
                width: 30%;
                color: white;

                &:hover {
                    background-color: #3434ff;
                    color: white;
                }
            }
        }

    }

}


.header-section {
    background-color: #f8f9fa;
    padding: 30px 0;
}

.social-icons a {
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: #7d71bd;
    margin-left: 15px;

    /* فاصله بین آیکون ها */
    >i {
        color: white;
        font-size: 20px;
    }
}

.card {
    border: none;
}

.list-group-item {
    border: none;
    padding: .5rem 0;

    >a {
        color: #000000;
        text-decoration: none;
    }

}

.footer-section {
    background-color: #6e61b5;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

a.btn{
   color: #000000;
   text-decoration: none;  
}
div.flex-card{
    display: flex;
    flex-wrap: wrap;
}

div.flex-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div.card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

div.body{
    display: flex;
    width: 100%;
    margin: 50px auto;
    justify-content: center;
    background-color: white;
    div.body-right{
         width: 500px;
         margin-top: 100px;
         >p.right-title{
            font-size: 18px;
            font-weight: bold;
         }
        >div.icon-button{
            >i{
                font-size: 20px;
                background-color: #3434ff;
                padding: 15px;
                border-radius: 20px;
                margin: 5px;
                color: white;
                
            }
        }
        >p.email{
            margin-top: 30px;
            font-size: 18px;
        }
        >p.time{
            font-size: 18px;
        }
    }
    div.body-left{
        width: 600px;
    }
}