@include media(540) {
    header {
        direction: ltr;


        nav.menu {
            div.menu {
                width: 40px;
                height: 40px;
            }
        }
        div.login-singin-1{
            height: 40px;
            font-size: 11px;
            font-weight: bold;
       }
        
        div.login-singin-2 {
            display: none;
            width: 20%;
        }
    }

    div.title {
        background-color: #ffff;
        direction: ltr;
      
        div.title-matn {
            direction: rtl;
            padding: 60px;
            padding-bottom: 40px;
            p.title-matn-bold {
                font-size: 15px !important;
                font-weight: bold;
      
            }
      
            p.title-matn-info {
                font-size: 13px;
                color: gray;
            }
      
            button.title-button-1 {
                background-color: #3434ff;
                border: none;
                padding: 10px;
                border-radius: 15px;
                width: 30%;
                font-size: 10px;
            }
      
            button.title-button-2 {
                border: 1px solid #3434ff;
                padding: 10px;
                border-radius: 15px;
                width: 30%;
                font-size: 10px;
            }
        }
      
       div.title-img{
        >img{
            height: 300px;
            width: 300px;
            margin-top: 40px;
        }
       }
      
      
      }

}