@include media(1400) {
    div.login-singin-1 {
        display: none;
    }


    div.title {
        background-color: #ffff;
        direction: ltr;

        >div.title-matn {
            direction: rtl;
            padding: 60px;

            >p.title-matn-bold {
                font-size: 30px;
                font-weight: bold;

            }

            >p.title-matn-info {
                font-size: 18px;
                color: gray;
            }

            div.title-button {
                >button.title-button-1 {
                    background-color: #3434ff;
                    border: none;
                    padding: 10px;
                    border-radius: 15px;
                    width: 30%;
                }

                >button.title-button-2 {
                    border: 1px solid #3434ff;
                    padding: 10px;
                    border-radius: 15px;
                    width: 30%;
                }
            }

        }

        div.title-img{
            >img{
                margin-left: 50px;
                width: 500px;
                height: 500px;
            }
        }


    }


}